@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:wght@275&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 350;
    font-style: normal;
}

.socialLink {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  .socialLink:hover {
    color: #000;
  }
  
  .socialLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .socialLink:hover::before {
    transform: scaleX(1);
  }

h1 {
    text-shadow: 1px 1px 2px black;
}


/* Underline styles */
.link {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
    color: black;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .link:hover::after,
  .link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  

#fullpage {
    height: 100vh;
}

.section {
    height: 100vh;
}

.section1 {
    background-color: #f1f1f1;
}

.section2 {
    background-color: #f1f1f1;
}

.section3 {
    background-color: #f1f1f1;
}

.section4 {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5{
    background-color: #f1f1f1;
}


.header {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1000%);
    float: left;
}

.link.animate {
    animation: flyOut 1s forwards;
}

.link:nth-child(1).animate {
    animation-delay: 0.2s;
}

.link:nth-child(2).animate {
    animation-delay: 0.4s;
}

.link:nth-child(3).animate {
    animation-delay: 0.6s;
}

.link:nth-child(4).animate {
    animation-delay: 0.8s;
}

@keyframes flyOut {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}



.TextOnSlides{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name{
    font-size: 2.4em;
    letter-spacing: 15px;
}

/* .AboutMe{
    position: absolute;
    top:150px;
    left:67%;
    transform: translateX(100%);
} */

/* .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    filter:drop-shadow(1px 1px 7px black);
} */


.AboutMeInfo{
    width:40%;
    max-height: 100vh;
    font-size: 1em;
    text-shadow: none;
    text-align: justify;
    text-align-last:center;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100%);
    margin-left:50%;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    filter:drop-shadow(3px 3px 7px black);
}

.AboutMeImage{
    position:absolute;
    top:0;
    height:100vh;
    opacity:0;
    filter: blur(5px);
    transition: all 1s;
    max-width:50%;
    transform: translateX(-100%);
}

.showImg{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    filter: drop-shadow(5px 5px 50px #222); 
}

/* .Video {
    height: 60vh;
    margin-left: 13.1%;
    display: flex;
    float: left;
    border-radius: 20px;
    margin-top: 100px; 
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
    margin-bottom:25px;
    cursor: pointer;
}

.showVideo{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    filter: drop-shadow(5px 5px 10px #222); 
} */

.Video:hover{
    opacity: 0;
    transition: all 0.3s;
}

.UnderVidText{
    position: absolute;
    width:12%;
    font-size: 1.2em;
    text-align: center;
    user-select: none;
    pointer-events: none;
    top: 47%;
    opacity: 0;
}

.UnderVidText1{
    left:14%;
}
.UnderVidText2{
    left:43%;
}
.UnderVidText3{
    left:70%;
}

.BathCollege{
    margin-bottom:100px;
}

/*want to add delay for each point to appear*/
.bluredTxt{
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}

.bluredTxtShow{
    opacity: 1;
    filter: blur(0);

}


.description{
    margin-left:7px;
}

.ChefTxt{
    margin-top:25px;
}

.BathCollege{
    margin-top: 25px;
}

.heading{
    font-size: 1.2em;
    font-weight: 300;
}

.Email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:75px;
    font-size: 1.2em;
    margin-bottom: 100px;
}

.icon{
    float: left;
}
.marginIcon{
    margin-right:20px;
}

.social{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    color: black;
    text-decoration: none;
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(100%);
}

.emailShow{
    opacity: 1;
    filter: blur(0); 
    transform: translateY(0);
}


.socialLink{
    opacity: 0;
    transition: all 2s;
}

.socialShow{
    opacity: 1;
    filter: blur(0);
}

.EducationImg{
    position: absolute;
    top:0;
    height:110vh;
    right: 0;
    max-width:40%;
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(100%);
}

.EducationImgShow{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    filter: drop-shadow(5px 5px 50px #222); 
}

.hamburger{
    display: none;
}

/* @media only screen and (max-width:320px){
    .AboutMeImage{
        opacity: 0;
    }

    .EducationImg{
        opacity: 0;
    }

    .AboutMeInfo{
        margin-left:5%;
        width:90%;
    }

    .AboutMe{
        position: absolute;
        top:150px;
        left: 39%;
    }

    .Name{
        font-size: 1.5em;
        letter-spacing: 5px;
    }
    .Video:hover{
        opacity: 1;
        transition: all 0.3s;
    }
    .UnderVidText{
        display: none;
    }

    .showVideo{
        opacity:0;
    }
    .Video{
        opacity:1;
        transform: translateY(0);
        
    }
    
} */

/* .ContactSection{
    width:49%;
    height:100%;
    display: inline-block;
}

.CVimg{
    height:20%;
    left:60%;
    top:40%;
    position:absolute;
}

.ContactBlock{
    padding-left:15%;
} */

@media only screen and (min-width:1280px){
    .ContactSection{
        width:49%;
        height:100%;
        display: inline-block;
    }
    
    .CVimg{
        height:20%;
        left:60%;
        top:40%;
        position:absolute;
    }
    
    .ContactBlock{
        padding-left:15%;
    }

    .AboutMe{
        position: absolute;
        top:150px;
        left:66.5%;
        transform: translateX(100%);
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        filter:drop-shadow(1px 1px 7px black);
    }

    .Video {
        width:15%;
        float: left;
        margin-left:13.75%;
        /* display: inline-block; */
        position: relative;
        border-radius: 20px;
        margin-top: 100px; 
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
        margin-bottom:25px;
        cursor: pointer;
    }
    
    .showVideo{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
        filter: drop-shadow(5px 5px 10px #222); 
    }

    .UnderVidText1{
        left:15.25%;
    }
    .UnderVidText2{
        left:44%;
    }
    .UnderVidText3{
        left:72.75%;
    }
    
}

@media only screen and (min-width:360px) and (max-width:799px){ 
    .hamburger {
        position: absolute; /* Ensure it is positioned absolutely */
        display: block;
        top: 50px;
        left: 20px; /* Adjust as needed */
        z-index: 200; /* Ensure it has a higher z-index than .headerSlider */
    }

    .headerSlider {
        position: relative; /* Ensure it is positioned relative */
        width: 100%;
        height: 200vh;
        margin-top: -20px;
        background-color: grey;
        z-index: 100; /* Ensure it has a lower z-index than .hamburger */
    }

    .link{
        display: none;
    }
    .ContactSection{
        width:100%;
        height:40%;
        display: inline-block;
    }

    .ContactBlock{
        margin-top: 50px;
    }
    
    .CVimg{
        width:45%;
        margin-top:45px;
        margin-left:27.5%;
        position:relative;
    }
    

    .TextOnSlides{
        opacity: 1;
        transition: all 1s;
        filter: blur(0px);
        transform: translateX(0%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Name{
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .AboutMeInfo{
        margin-left:25%;
        width:50%;
        margin-top:100px;
    }

    .AboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Video:hover{
        opacity: 1;
        transition: all 0.3s;
    }
    .UnderVidText{
        display: none;
    }

    .showVideo{
        opacity:0;
    }
    .Video{
        opacity:1;
        transform: translateY(0);
        
    }
    .AboutMeImage{
        opacity: 0;
    }

    .EducationImg{
        opacity: 0;
    }

    .bluredTxt{
        font-size: 1em;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .ExperienceTxt{
        margin-bottom: 20px;
    }
    .EducationTxt{
        margin-bottom: 20px;
    }

    .Video{
        margin-top:50px;
    }

    .Video {
        width:70%;
        margin-left: 15%;
        display: flex;
        border-radius: 20px;
        margin-top: 100px; 
        margin-bottom:25px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:800px) and (max-width:1279px){ 
    .ContactSection{
        width:35%;
        height:80%;
        display: inline-block;
    }
    
    .CVimg{
        height:40%;
        left:60%;
        top:45%;
        position:relative;
        float: left;
    }
    
    .ContactBlock{
        padding-left:15%;
    }

    .email{
        margin-bottom: -50px;
    }

    .TextOnSlides{
        opacity: 1;
        transition: all 1s;
        filter: blur(0px);
        transform: translateX(0%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Name{
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .AboutMeInfo{
        margin-left:25%;
        width:50%;
        margin-top:100px;
    }

    .AboutMe{
        /* position: absolute;
        top:30%;
        left: 37%; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: auto; */
    }

    .Video:hover{
        opacity: 1;
        transition: all 0.3s;
    }
    .UnderVidText{
        display: none;
    }

    .showVideo{
        opacity:0;
    }
    .Video{
        opacity:1;
        transform: translateY(0);
        
    }
    .AboutMeImage{
        opacity: 0;
    }

    .EducationImg{
        opacity: 0;
    }

    .bluredTxt{
        font-size: 1em;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .ExperienceTxt{
        margin-bottom: 20px;
    }
    .EducationTxt{
        margin-bottom: 20px;
    }

    .Video{
        margin-top:50px;
    }

    .Video {
        width:20%;
        margin-left: 10%;
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 50px; 
        margin-bottom:25px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
}

