@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:wght@275&display=swap');

* {
    font-family: "Poppins", serif;
    font-weight: 350;
    font-style: normal;
}

.socialLink {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  .socialLink:hover {
    color: #000;
  }
  
  .socialLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .socialLink:hover::before {
    transform: scaleX(1);
  }

h1 {
    text-shadow: 1px 1px 2px black;
}


/* Underline styles */
.link {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
    color: black;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .link:hover::after,
  .link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  

#fullpage {
    height: 100vh;
}

.section {
    height: 100vh;
}

.section1 {
    background-color: #f1f1f1;
}

.section2 {
    background-color: #f1f1f1;
}

.section3 {
    background-color: #f1f1f1;
}

.section4 {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5{
    background-color: #f1f1f1;
}


.header {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1000%);
    float: left;
}

.link.animate {
    animation: flyOut 1s forwards;
}

.link:nth-child(1).animate {
    animation-delay: 0.2s;
}

.link:nth-child(2).animate {
    animation-delay: 0.4s;
}

.link:nth-child(3).animate {
    animation-delay: 0.6s;
}

.link:nth-child(4).animate {
    animation-delay: 0.8s;
}

@keyframes flyOut {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.TextOnSlides{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutMe{
    position: absolute;
    top:150px;
    left:65%;
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.AboutMeInfo{
    width:40%;
    max-height: 100vh;
    font-size: 1em;
    text-shadow: none;
    text-align: justify;
    text-align-last:center;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100%);
    margin-left:50%;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.AboutMeImage{
    position:absolute;
    top:0;
    height:100vh;
    opacity:0;
    filter: blur(5px);
    transition: all 1s;
    max-width:50%;
    transform: translateX(-100%);
}

.showImg{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

.Video {
    height: 60vh;
    margin-left: 13.5%;
    display: flex;
    float: left;
    border-radius: 20px;
    margin-top: 100px; 
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.showVideo{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.BathCollege{
    margin-bottom:100px;
}

/*want to add delay for each point to appear*/
.bluredTxt{
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}

.bluredTxtShow{
    opacity: 1;
    filter: blur(0);
}


.description{
    margin-left:7px;
}

.ChefTxt{
    margin-top:25px;
}

.BathCollege{
    margin-top: 25px;
}

.heading{
    font-size: 1.2em;
    font-weight: 300;
}

.Email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:75px;
    font-size: 1.2em;
    margin-bottom: 100px;
}

.icon{
    float: left;
}
.marginIcon{
    margin-right:20px;
}

.social{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    color: black;
    text-decoration: none;
}