/* website fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:wght@275&display=swap');

/* section with basic css required on any type of device */
* {
    font-family: "Poppins", serif;
    font-weight: 350;
    font-style: normal;
}

.socialLink {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  .socialLink:hover {
    color: #000;
  }
  
  .socialLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .socialLink:hover::before {
    transform: scaleX(1);
  }

h1 {
    filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
}


/* Underline styles */
.link {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
    color: black;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .link:hover::after,
  .link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  

#fullpage {
    height: 100vh;
}

.section {
    height: 100vh;
}

.section1 {
    background-color: #f1f1f1;
}

.section2 {
    background-color: #f1f1f1;
}

.section3 {
    background-color: #f1f1f1;
}

.section4 {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5{
    background-color: #f1f1f1;
}


.header {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1000%);
    float: left;
}
/* animation delay for navigation menu buttons */
.link.animate {
    animation: flyOut 1s forwards;
}

.link:nth-child(1).animate {
    animation-delay: 0.2s;
}

.link:nth-child(2).animate {
    animation-delay: 0.4s;
}

.link:nth-child(3).animate {
    animation-delay: 0.6s;
}

.link:nth-child(4).animate {
    animation-delay: 0.8s;
}

@keyframes flyOut {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}



.TextOnSlides{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name{
    font-size: 2.4em;
    letter-spacing: 15px;
}


.AboutMeInfo{
    width:40%;
    max-height: 100vh;
    font-size: 1em;
    text-shadow: none;
    text-align: justify;
    text-align-last:center;
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100%);
    margin-left:50%;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
}

.AboutMeImage{
    position:absolute;
    top:0;
    height:100vh;
    opacity:0;
    filter: blur(5px);
    transition: all 1s;
    max-width:50%;
    transform: translateX(-100%);
}

.showImg{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    filter: drop-shadow(5px 5px 50px rgb(131, 131, 131)); 
}

.Video:hover{
    opacity: 0;
    transition: all 0.3s;
}

.UnderVidText{
    position: absolute;
    width:12%;
    font-size: 1.2em;
    text-align: center;
    user-select: none;
    pointer-events: none;
    top: 47%;
    opacity: 0;
}

.UnderVidText1{
    left:14%;
}
.UnderVidText2{
    left:43%;
}
.UnderVidText3{
    left:70%;
}

.BathCollege{
    margin-bottom:100px;
}

.bluredTxt{
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}

.bluredTxtShow{
    opacity: 1;
    filter: blur(0);

}


.description{
    margin-left:7px;
}

.ChefTxt{
    margin-top:25px;
}

.BathCollege{
    margin-top: 25px;
}

.heading{
    font-size: 1.2em;
    font-weight: 300;
}

.Email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:75px;
    font-size: 1.2em;
    margin-bottom: 100px;
}

.icon{
    float: left;
}
.marginIcon{
    margin-right:20px;
}

.social{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    color: black;
    text-decoration: none;
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(100%);
}

.emailShow{
    opacity: 1;
    filter: blur(0); 
    transform: translateY(0);
}


.socialLink{
    opacity: 0;
    transition: all 2s;
}

.socialShow{
    opacity: 1;
    filter: blur(0);
}

.EducationImg{
    position: absolute;
    top:0;
    height:110vh;
    right: 0;
    max-width:40%;
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(100%);
}

.EducationImgShow{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    filter: drop-shadow(5px 5px 50px rgb(131, 131, 131)); 
}

.hamburger{
    display: none;
}


.hButton{
    display: none;
}

/* large screen media and css required for it */
@media only screen and (min-width:1280px){
    .ContactSection{
        width:30%;
        height:100%;
        display: inline-block;
        margin-bottom: -10px;
    }
    
    .CVimg{
        height:50%;
        left:60%;
        top:27%;
        position:absolute;
        filter:drop-shadow(1px 1px 20px rgb(131, 131, 131));
        border-radius: 5px;
    }
    
    .ContactBlock{
        padding-left:15%;
    }

    .AboutMe{
        position: absolute;
        top:150px;
        left:66.5%;
        transform: translateX(100%);
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
    }

    .Video {
        width:15%;
        float: left;
        margin-left:13.75%;
        position: relative;
        border-radius: 20px;
        margin-top: 100px; 
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
        margin-bottom:25px;
        cursor: pointer;
    }
    
    .showVideo{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
        filter: drop-shadow(5px 5px 10px #222); 
    }

    .UnderVidText1{
        left:15.25%;
    }
    .UnderVidText2{
        left:44%;
    }
    .UnderVidText3{
        left:72.75%;
    }
    
}
/* phone screen media and css required for it */
@media only screen and (min-width:360px) and (max-width:799px){ 
    .hamburgerstyle{
        display: flex;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }
    .hButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height:10%;
        width: 100%;   
        font-size:1.5em;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .hButton:active{
        cursor: pointer;
        background-color: #f1f1f1;
    }

    .hAboutMe{
        margin-top:20%;
    }
    .hamburgerWrapper{
        width:100%;
        height:10%;
        position: absolute;
        z-index: 200;
    }

    .line{
        width: 50px;
        height: 3px;
        background-color: black;
        display: block;
        z-index: 100;
        position: absolute;
    
    }

    .line1{
        margin-top: 95px;
    }

    .line2{
        margin-top: 115px;
    }

    #headerSlider{
        height: 200vh;
        width: 100%;
        top:0;
        background-color: rgb(237, 237, 237);
        position: absolute;
        z-index: 1;
        transition: all 1s;
        transform: translateX(100%);
    }

    .link{
        display: none;
    }
    .ContactSection{
        width:100%;
        height:40%;
        display: inline-block;
    }

    .ContactBlock{
        margin-top: 50px;
    }
    
    .CVimg{
        width:45%;
        margin-top:45px;
        margin-left:27.5%;
        position:relative;
        margin-bottom:10%;
        filter:drop-shadow(1px 1px 10px rgb(131, 131, 131));
        border-radius: 5px;
    }
    

    .TextOnSlides{
        opacity: 1;
        transition: all 1s;
        filter: blur(0px);
        transform: translateX(0%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Name{
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .AboutMeInfo{
        margin-left:25%;
        width:50%;
        margin-top:100px;
    }

    .AboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Video:hover{
        opacity: 1;
        transition: all 0.3s;
    }
    .UnderVidText{
        display: none;
    }

    .showVideo{
        opacity:0;
    }
    .Video{
        opacity:1;
        transform: translateY(0);
        
    }
    .AboutMeImage{
        opacity: 0;
    }

    .EducationImg{
        opacity: 0;
    }

    .bluredTxt{
        font-size: 1em;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .ExperienceTxt{
        margin-bottom: 20px;
    }
    .EducationTxt{
        margin-bottom: 20px;
    }

    .Video{
        margin-top:50px;
    }

    .Video {
        width:70%;
        margin-left: 15%;
        display: flex;
        border-radius: 20px;
        margin-top: 100px; 
        margin-bottom:25px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .show{
        filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
    }
    .show2{
        filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
    }
    h1{
        filter: drop-shadow(1px 1px 7px rgb(129, 129, 129));
    }

}

/* ipad screen media and css required for it */
@media only screen and (min-width:800px) and (max-width:1279px){ 
    .ContactSection{
        width:35%;
        height:40%;
        display: inline-block;
        margin-top: 0%;
    }
    
    .CVimg{
        height:50%;
        position: absolute;
        float: left;
        top: 25%;
        left: 55%;
        filter:drop-shadow(1px 1px 20px rgb(131, 131, 131));
        border-radius: 5px;
    }
    
    .ContactBlock{
        padding-left:15%;
    }

    .email{
        margin-bottom: -50px;
    }

    .TextOnSlides{
        opacity: 1;
        transition: all 1s;
        filter: blur(0px);
        transform: translateX(0%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Name{
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    .AboutMeInfo{
        margin-left:25%;
        width:50%;
        margin-top:100px;
    }

    .AboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Video:hover{
        opacity: 1;
        transition: all 0.3s;
    }
    .UnderVidText{
        display: none;
    }

    .showVideo{
        opacity:0;
    }
    .Video{
        opacity:1;
        transform: translateY(0);
        
    }
    .AboutMeImage{
        opacity: 0;
    }

    .EducationImg{
        opacity: 0;
    }

    .bluredTxt{
        font-size: 1em;
        margin-top:0px;
        margin-bottom: 0px;
    }

    .ExperienceTxt{
        margin-bottom: 20px;
    }
    .EducationTxt{
        margin-bottom: 20px;
    }

    .Video{
        margin-top:50px;
    }

    .Video {
        width:20%;
        margin-left: 10%;
        float: left;
        display: flex;
        border-radius: 20px;
        margin-top: 50px; 
        margin-bottom:25px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
}

